<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude">
    <Loggers>
        <Logger name="ru.croc.ibelozor" level="debug"/>
        <Root level="error">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-5p} %t %c{1}:%M:%L - %m%n" charset="UTF-8" />
        </Console>
    </appenders>
</Configuration>
